.Form {
  border: none;
  border-bottom: 2px #5d8443 solid;
}

.Button {
  border: none;
  background-color: #73a254;
  color: #f6ffcf;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: #f6ffcf;
  color: #73a254;
}
