.NavBar {
  background-color: #ffffff;
  border: 1px solid #dadadf;
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: #515a50;
}

.Slogan {
  display: inline;
  font-size: 1.2rem;
  font-style: normal, bold;
  color: #515a50;
  padding: 0 2px 0 10px;
}
